
    .class1{
        background-color: greenyellow;
        opacity: 1.0;
    }
    h1{
        color: blue;
    }
    .class2{
        background-color: cyan;
    }
    p{
        background-color: aquamarine;
    }
    h2{
        color: violet;
        opacity: 1.8;
    }
    